.contactanos {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #c8b8db;
    align-items: center;
  }
  .redes {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  